<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favivons -->
    <link  rel = "apple-touch-icon"  tallas = "57x57"  href = "/assets/images/favicon/apple-icon-57x57.png" > 
    <link  rel = "apple-touch-icon"  tallas = "60x60"  href = "/assets/images/favicon/apple -icon-60x60.png " > 
    <link  rel = " apple-touch-icon "  tamaños = " 72x72 "  href = "/assets/images/favicon/apple-icon-72x72.png " > 
    <link  rel = " apple-touch-icon "  tamaños = "76x76"  href = "/assets/images/favicon/apple-icon-76x76.png" > 
    <link  rel = "apple-touch-icon "  tamaños = " 114x114 "  href = " /assets/images/favicon/apple-icon-114x114.png "> 
    <link  rel = "apple-touch-icon"  tallas = "120x120"  href = "/assets/images/favicon/apple-icon-120x120.png" > 
    <link  rel = "apple-touch-icon"  tallas = "144x144"  href = "/assets/images/favicon/apple-icon-144x144.png " > 
    <link  rel = " apple-touch-icon "  tamaños = " 152x152 "  href = " /assets/images/favicon/apple-icon-152x152.png " > 
    <link  rel = " apple-touch-icon "  tamaños = "180x180"  href = "/assets/images/favicon/apple-icon-180x180.png" > 
    <link  rel = "icon"  type = "image/png"  tamaños = "192x192"  href = "/assets/images/favicon/android-icon-192x192.png" > 
    <link  rel = "icon"  type = "image/png"  tamaños = "32x32"  href = "/assets/images/favicon/favicon-32x32.png" > 
    <link  rel = "icon"  type = "image/png"  tallas = "96x96"  href = "/assets/images/favicon/favicon-96x96.png" > 
    <link  rel = "icon"  type = "image/png"  tallas = "16x16"  href = "/assets/images/favicon/favicon-16x16. png " > 
    <link  rel = " manifest " href = "/manifest.json" > 
    <meta  name ="msapplication-TileColor"  content = "#ffffff" > 
    <meta  name = "msapplication-TileImage"  content = "/assets/images/favicon/ms-icon-144x144.png" > 
    <meta  name = "theme-color"  content = "#ffffff" >

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/app.css">

    <title>Palete Theme</title>
  </head>
  <body>
    <!-- addons -->
    <div class="loader d-flex">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="progressbar"></div>
    <div id="scrollpath"></div>
    <div class="scrolltop float-right">
        <i class="fas fa-angle-up bg-secondary" id="btnup"></i>
    </div>
    <!-- Header -->
    <header>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <!-- toogle button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar content -->
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="container">
                    <a class="navbar-brand font-weight-bold" href="/index.html">Logo Page</a>
                    <!-- navbar items -->
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0" id="navbarGroup">
                        <li class="nav-item active">
                            <a class="nav-link font-weight-bold" href="/index.html"><i class='fas fa-home'></i> Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="/templates/about.html"><i class='fas fa-exclamation-circle'></i> About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="/templates/page.html"><i class='far fa-copy'></i> Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="/templates/contact.html"><i class='far fa-envelope'></i> ContactUs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Content -->
    <div class="container-fluid" id="MediaPage">
        <div class="container" id="MediaContainer">
            <!-- Page Header -->
            <header>
                <div class="col-lg-12 bg-dark p-2">
                    <h1 class="my-4 text-center text-white font-weight-bold">404 Not Found.</h1>
                </div>
            </header>
            <hr>
            <!-- content -->
            <div class="row">
               <!-- Post section -->
               <div class="col-lg-12">
                   <!-- section not found -->
                    <div class="card card-body font-weight-bold mb-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="jumbotron jumbotron-fluid">
                                    <div class="container">
                                      <h1 class="display-4 text-center"><i class="fas fa-flag"></i> Result not Found.</h1>
                                      <p class="lead text-center">The entry you were looking for has been removed or no longer exists!</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
               </div>
               <!-- section search -->
               <div class="col-lg-12 widgets">
                   <h2 class="text-center my-3">New search</h2>
                   <hr>
                    <div class="card-body">
                        <form role="search" method="get" id="searchform" class="searchform" action="/templates/search.html">
                            <div>
                                <label class="screen-reader-text" for="s">Buscar:</label>
                                <input type="text" value="" name="s" id="s">
                                <input type="submit" id="searchsubmit" value="Search">
                            </div>
                        </form>
                    </div>
               </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="container-fluid container-sm bg-secondary font-weight-bold text-white d-flex flex-wrap">
        <!-- widgets footer configuration -->
        <div class="col-lg-4 widgets">
            <div class="card-body">
                <div class="calendar_wrap">
                    <table id="wp-calendar" class="wp-calendar-table">
                        <caption>julio 2020</caption>
                        <thead>
                            <tr>
                                <th scope="col" title="lunes">L</th>
                                <th scope="col" title="martes">M</th>
                                <th scope="col" title="miércoles">X</th>
                                <th scope="col" title="jueves">J</th>
                                <th scope="col" title="viernes">V</th>
                                <th scope="col" title="sábado">S</th>
                                <th scope="col" title="domingo">D</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="pad">&nbsp;</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td>
                            </tr>
                            <tr>
                                <td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
                            </tr>
                            <tr>
                                <td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td>
                            </tr>
                            <tr>
                                <td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td>
                            </tr>
                            <tr>
                                <td>27</td><td>28</td><td>29</td><td id="today"><a href="http://theme.test/2020/07/30/" aria-label="Entradas publicadas el 30 de July de 2020">30</a></td><td>31</td>
                                <td class="pad" colspan="2">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Meses anteriores y posteriores" class="wp-calendar-nav">
                        <span class="wp-calendar-nav-prev">&nbsp;</span>
                        <span class="pad">&nbsp;</span>
                        <span class="wp-calendar-nav-next">&nbsp;</span>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-lg-4 widgets">
            <div class="card-body">
                <h4>Meta</h4>
                <hr>			
                <ul>
                    <li><a href="http://theme.test/wp-admin/">Administrador del sitio</a></li>			
                    <li><a href="http://theme.test/wp-login.php?action=logout&amp;_wpnonce=05edcd4fad">Salir</a></li>
                    <li><a href="http://theme.test/feed/">Feed de entradas</a></li>
                    <li><a href="http://theme.test/comments/feed/">Feed de comentarios</a></li>
                    <li><a href="https://es.wordpress.org/">WordPress.org</a></li>			
                </ul>
            </div>
        </div>
        <div class="col-lg-4 widgets">
            <div class="card-body">
                <form role="search" method="get" id="searchform" class="searchform" action="/templates/search.html">
                    <div>
                        <label class="screen-reader-text" for="s">Search:</label>
                        <input type="text" value="" name="s" id="s">
                        <input type="submit" id="searchsubmit" value="Search">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="container-fluid text-center text-white bg-dark font-weight-bold">
        <div class="col-lg-12 p-3">
            <h5 class="font-weight-bold">CopyRight</h5>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/js/font.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>